$pageWidth: 1920px;
$pageHeight: 1080px;

$glan-background-1: #000000;
$glan-background-2: #ffb442;

$text-color: #FFFFFF;

$global-drop-shadow: drop-shadow(0 0 5px rgba(22, 22, 22, 0.55)) drop-shadow(0 0 15px rgba(22, 22, 22, 0.3));