@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600;700&display=swap');

@import './constants.scss';

@font-face {
    font-family: 'edo';
    src: url(../../assets/edo.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anton Regular';
    src: url(../../assets/Anton-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Anton Regular', sans-serif;
    font-weight: 200;
    font-size: 32px;
}

.bold {
    font-weight: 700;
}

span.pronoun {
    color: white;
    font-weight: 500;
    // background-color: white;
    font-size: 28px;
    line-height: 28px;
    padding: 2px 4px;
    transform: translate(0px, -2px);
    display: inline-block;
}
